.lyrics {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%) ;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  background: rgba(0,0,0,.35);
  padding: 12px 22px;
  border-radius: 14px;
  backdrop-filter: blur(6px);
  text-align: center;
  max-width: 90%;
  z-index: 99999;
  opacity: 0;
  transition: opacity .5s ease;
}

.lyrics.show {
  opacity: 1;
}
