.gift-btn {
  position: fixed;
  bottom: 20%;
  right: 50%;
  padding: 10px 18px;
  border-radius: 12px;
  border: none;
  font-size: 14px;
  cursor: pointer;
  background: #ff4d6d;
  color: white;
  z-index: 10000;
}

.hidden{
  display:none;
}
